<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考勤补打卡</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="css/index.css">

    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_795001_3zf3dekx0dj.css">
    <style>
        .msgFont{
            margin: 0 10px 0 0;
            color: #555;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header id="pubHead">
            <a href="#">智慧工地管理平台</a>
            <!--<i class="el-icon-ali-quit"></i>-->
            <div class="block-right">
                <!--<el-button  plain>您好，邓先生！</el-button>-->
                <el-button type="primary" icon="el-icon-ali-user" circle></el-button>
                <el-button type="danger" icon="el-icon-ali-quit" circle></el-button>
            </div>
        </el-header>
        <!--<el-card>-->
            <!--<span class="msgFont">姓名：{{workerName}}</span>-->
            <!--<span class="msgFont">所在项目：{{projectName}}</span>-->

        <!--</el-card>-->
        <el-card>
            <h3 style="color: #555;margin-bottom: 20px">过滤查询</h3>
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item label="姓名">
                    <el-input v-model="formInline.user" placeholder="姓名"></el-input>
                </el-form-item>
                <el-form-item label="时间">
                    <el-date-picker
                            v-model="chooseDate"
                            type="date"
                            placeholder="选择日期">
                    </el-date-picker>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" >查询</el-button>
                </el-form-item>
            </el-form>
        </el-card>
        <el-card>
            <el-button
                    icon="el-icon-plus"
                    plain
                    style="margin-bottom: 20px;"
                    @click="dialogTableVisible = true">新增打卡记录</el-button>
            <el-table
                    :data="tableData"
                    border
                    style="width: 100%">
                <el-table-column
                        type="index"
                        label="序号"
                        width="50">
                </el-table-column>
                <el-table-column
                        prop="workerName"
                        label="姓名"
                        align="center"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="teamName"
                        label="班组名称"
                        align="center"
                        width="200">
                </el-table-column>
                <el-table-column
                        prop="projectName"
                        label="所在项目"
                        >
                </el-table-column>
                <el-table-column
                        prop="cardType"
                        label="打卡类型"
                        width="200"
                        align="center"
                        >
                </el-table-column>
                <el-table-column
                        prop="cardTime"
                        label="打卡时间"
                        align="center"
                        width="400"
                        >
                </el-table-column>
                <el-table-column

                        label="详情"
                        width="200"
                        align="center">
                    <template slot-scope="scope">
                        <el-button  type="text" size="small">查看</el-button>

                    </template>
                </el-table-column>

            </el-table>
        </el-card>
        <el-dialog title="新增打卡记录" :visible.sync="dialogTableVisible">
            <el-form :model="form">
                <el-row>
                    <el-col :span="10">
                        <el-form-item label="姓名" :label-width="formLabelWidth">
                            <el-select v-model="form.name" filterable placeholder="请选择" >
                                <el-option
                                        v-for="item in selectWorker"
                                        :key="item.workerIdCard"
                                        :label="item.workerName"
                                        :value="item.workerName">
                                </el-option>
                            </el-select>
                    </el-form-item></el-col>
                    <el-col :span="10">
                        <el-form-item label="证件号码" :label-width="formLabelWidth">
                            <el-input v-model="form.idCard" autocomplete="off"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="10">
                        <el-form-item label="打卡时间" :label-width="formLabelWidth">
                            <el-date-picker
                                    v-model="form.cardTime"
                                    type="datetime"
                                    placeholder="选择日期时间">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="10">
                        <el-form-item label="所在项目" :label-width="formLabelWidth" >
                            <el-input v-model="form.proName" ></el-input>
                        </el-form-item>
                    </el-col>

                </el-row>
                <el-row>
                    <el-col :span="10">
                        <el-form-item label="证件类型" :label-width="formLabelWidth">
                            <el-select v-model="chooseOne" filterable placeholder="请选择" >
                                <el-option
                                        v-for="item in cardList"

                                        :key="item.cardValue"
                                        :label="item.cardName"
                                        :value="item.cardValue">
                                </el-option>
                            </el-select>
                        </el-form-item></el-col>
                    <el-col :span="10">
                        <el-form-item label="数据来源" :label-width="formLabelWidth">
                            <!--<el-form-item label="打卡类型" :label-width="formLabelWidth">-->
                                <el-radio v-model="form.way" label="1">设备打卡</el-radio>
                                <el-radio v-model="form.way" label="2">手动输入</el-radio>
                            <!--<el-input v-model="form.way" autocomplete="off"></el-input>-->
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>


                    <el-col :span="10">
                        <el-form-item label="进入通道" :label-width="formLabelWidth">
                            <el-input v-model="form.enterWay" style="width: 220px"></el-input>
                        </el-form-item></el-col>
                    <el-col :span="10">
                        <el-form-item label="打卡类型" :label-width="formLabelWidth">
                            <el-radio v-model="form.cardType" label="1">入场</el-radio>
                            <el-radio v-model="form.cardType" label="2">出场</el-radio>
                            <!--<el-input v-model="form.cardType" ></el-input>-->
                        </el-form-item></el-col>
                </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogTableVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogTableVisible = false;addToTabel()">确 定</el-button>
            </div>
        </el-dialog>
    </el-container>

</div>
</body>
<script>
    let vm= new Vue({
        el: '#app',
        data: function() {
            return {
                chooseMonth:'',
                workerName:'黄飞鸿',
                teamName:'班组1',
                dialogTableVisible: false,
                projectName:'深茂铁路项目茂名段',
                chooseDate:'',
                formInline: { //搜索框数据
                    user: '',
                    chooseDate: ''
                },
                tableData: [//考勤表数据
                    {
                    workerName: '王小虎',
                    teamName:'班组1',
                    projectName: '深茂铁路项目茂名段深茂铁路项目茂名段深茂铁路项目茂名段',
                    cardType: '入场',
                    cardTime:'2018-9-18 15:47:39',
            }, {
                    workerName: '王小虎',
                    projectName: '深茂铁路项目茂名段',
                    cardType: '入场',
                    cardTime:'2018-9-18 15:47:39',
                }],
                form:{//新增打卡记录数据
                    name: this.chooseOne,
                    idCard: '',
                    cardType: '1',
                    cardTime: '',
                    way: '2',
                    imgUrl: '',
                    dataWay: '手动输入',
                    proName: '',
                    proCode:'',
                    enterWay:'',
                    team:'班组1'
                },
                selectWorker:[//班组员工列表数据
                    {
                        workerName:'黄飞鸿',
                        workerIdCard:'440683199212082356',
                    },
                    {
                        workerName:'蓝飞鸿',
                        workerIdCard:'440683199212082358',
                    },
                    {
                        workerName:'红飞鸿',
                        workerIdCard:'440683199212082357',
                    }
                ],
                cardList:[//证件类型列表
                    {
                        cardName:"身份证",
                        cardValue:'1'
                    },{
                        cardName:"军官证",
                        cardValue:'2'
                    },
                    {
                        cardName:"武警警官证",
                        cardValue:'3'
                    },
                    {
                        cardName:"士兵证",
                        cardValue:'4'
                    },
                    {
                        cardName:"军队离退休干部证",
                        cardValue:'5'
                    },
                    {
                        cardName:"残疾人证",
                        cardValue:'6'
                    },{
                        cardName:"残疾军人证（1-8 级)",
                        cardValue:'7'
                    },{
                        cardName:"护照",
                        cardValue:'8'
                    },{
                        cardName:"港澳同胞回乡证",
                        cardValue:'9'
                    },{
                        cardName:"港澳居民来往内地通行证",
                        cardValue:'10'
                    },
                ],
                formLabelWidth:'110px',
                chooseOne:''
            }
        },
        created:function(){
            // console.log(1)
        },
        methods:{

            addToTabel:function () {
                let date = this.form.cardTime;
                let Y = date.getFullYear() + '-';
                let M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
                let D = date.getDate() + ' ';
                let h = date.getHours() + ':';
                let m = date.getMinutes() + ':';
                let s = date.getSeconds();
                let obj={
                    workerName: this.form.name,
                    projectName: this.form.proName,
                    cardType: this.form.cardType=='1'?'入场':'出场',
                    cardTime:Y+M+D+h+m+s,
                    teamName:this.form.team
                }
                console.log(obj.cardTime);
                this.tableData.push(obj);
            },

        }
    })
</script>
</html>